/* style.css */

body {
    font-family: Arial, sans-serif;
    transition: 0.3s;
    background-color: white;
    color: black;
}

    /* Dark mode */
    body.dark {
        background-color: #121212;
        color: white;
    }

    /* Grayscale */
    body.grayscale {
        filter: grayscale(100%);
    }

/* Tugmalar */
button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

    button:hover {
        background-color: #0056b3;
    }
